<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grozziie.grozziiebluetooth">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application>
        <activity android:name=".WifiWebPagePrint"></activity>
        <activity android:name=".WifiPrintPdf" />
        <activity android:name=".WifiImagePrint" />
        <activity android:name=".WifiPrinterCategory" />
        <activity android:name=".BluetoothImagePrinting" />
        <activity android:name=".PrintBluetoothcategory" />
        <activity android:name=".BitMapConvertActivity" />
        <activity android:name=".BluetoothList" />
        <activity android:name=".WifiListActivity" />
        <activity android:name=".Device_CategoryActivity" />
        <activity android:name=".InitilizeSDKActivity" />
    </application>

</manifest>